<div class="signup-form">
{{input class=(vudu 'pLarge serifLight bgTransparent borderNone rightAlign lightGray col7')
        key-press="valueDidChange"
        placeholder=placeholder
        value=value
        type="email"
        name="EMAIL"}}
  <div class="chimp-says">{{chimpSays}}</div>
  <button type="submit" class={{vudu 'pLarge serifLight bgTransparent borderNone white'}}>{{if isLoading loadingText buttonText}}</button>
</div>
