<div class='content'>
  <div class='shop shop-{{product.variant}}'>
    {{#link-to 'shop.show' product.slug class=styles.linkWrapper}}
      {{fade-in-image tagName="img"
                      class=(concat (get styles 'overlay') ' ' 'overlay')
                      imageSource=product.featuredImage.file.url}}
    {{/link-to}}
  </div>
</div>
