html, body {
  height: 100%;
  margin: 0;
}

body > .ember-view {
  height: 100%;
}

.liquid-child.ember-view {
  height: 100%;
}

.liquid-container.ember-view {
  height: 100%;
}

p {
  font-size: 5rem;
  margin: 0;
}

* {
  box-sizing: border-box;
}
