{{#scroll-route contentLoaded=sanctu.feedData}}
  <div class={{vudu 'borderTopThin'}}>
    {{#each sanctu.feedData as |post|}}
      {{#link-to 'feed.show' (medium-slug post.link)}}
        {{feed-list-item post=post}}
      {{/link-to}}
    {{/each}}
  </div>
{{/scroll-route}}
