{{#each sanctu.feedData as |post|}}
  {{#link-to 'feed.show' (medium-slug post.link)}}
    <div class={{styles.feedItem}}>
      <h1>{{post.title}}</h1>
      <h1>{{post.pubDate}}</h1>
    </div>
  {{/link-to}}
{{/each}}
