{{#fade-in slug=slug}}

  {{#with (medium-item-for-slug sanctu.feedData slug) as |article|}}
    {{{article.content:encoded}}}
  {{/with}}

  {{#with (filtered-feed-data sanctu.feedData slug) as |filteredFeedData|}}
    <div class={{vudu 'my5 borderTopThin'}}>
      {{#each filteredFeedData as |post|}}
        {{#link-to 'feed.show' (medium-slug post.link)}}
          {{feed-list-item post=post}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/with}}

{{/fade-in}}
