<div class={{styles.workWrapper}}>
  {{#liquid-bind model use="fade" as |project|}}
    <div class={{vudu 'flex wrap'}}>
      {{#each project as |pj|}}
        {{#link-to 'work.show' pj.slug class=(vudu 'col12 mdCol6')}}
          {{project-block project=pj}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/liquid-bind}}
</div>
{{work-filter
    typeFilter=typeFilter
    techFilter=techFilter
    clearFilters=(route-action 'clearFilters')
    toggleTypeFilter=(route-action 'toggleTypeFilter')
    toggleTechFilter=(route-action 'toggleTechFilter')}}
