<div class={{styles.indexRoute}} id="index-route-scroll-context">
  {{#index-scroll-container indexSubSection=s}}
    {{#each model as |section|}}
      {{#way-point
        action=(action "didHitWaypoint" section.waypoint null)
        contextElementId="index-route-scroll-context"
        class=section.className}}
        <p class={{v.my6}}>{{section.copy}}</p>
      {{/way-point}}
    {{/each}}
  {{/index-scroll-container}}
  <div class={{styles.triangleContainer}}>
    <img src='images/triangle-south.svg'>
  </div>
</div>
