<div class={{styles.workRoute}}>
  <img class={{v.mirror}} src='images/stroke.svg'>
  <p>
  Work
  </p>
  <p>
  Work
  </p>
  <p>
  Work
  </p>
  <p>
  Work
  </p>
  <p>
  Work
  </p>
  <p>
  Work
  </p>
</div>
